@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --grey: #1D1E1F;
  --black: #17181A;
  --light_grey: #807F8C;
  --white: #ffffff;
  --dangerous: #EA1F1F;
  --peaceful: #1FA185;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
  position: relative;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.task{
  min-height: 100px;
  background-color: var(--grey);
}
.start:hover{
  color: var(--peaceful);
}
.task_acitve{
  opacity: 1;
}
.task_unactive{
  opacity: 0;
}
.task__content__ico{
  margin-right: 15px;
  border: 2px solid var(--light_grey);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button.btn__sign{
  width: 150px;
  border-radius: 5px;
  display: inline-block;
  font-size: 24px;
  background-color: var(--white);
  color: var(--black);
}