@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --grey: #848393;
  --light_grey: #D9D9D9;
  --white: #ffffff;
  --dangerous: #EA1F1F;
  --purple: #A18AFF;
  --yellow: #FAC608;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  box-sizing: border-box;
  background-color: #1F082A;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.liner{
  background: linear-gradient(to right, #E93C9E, #24A3EC); /* Градиент */
    -webkit-background-clip: text; /* Поддержка для веб-кита */
    -webkit-text-fill-color: transparent; 
}
.start:hover{
  color: var(--peaceful);
}
.task_acitve{
  opacity: 1;
}
.task_unactive{
  opacity: 0;
}
.task__content__ico{
  margin-right: 15px;
  border: 2px solid var(--light_grey);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button.btn__sign{
  width: 150px;
  border-radius: 5px;
  display: inline-block;
  font-size: 24px;
  background-color: var(--white);
  color: var(--black);
}
.custom_button {
  background-color: #1F082A; /* Цвет фона кнопки */
  color: white; /* Цвет текста */
  padding: 1rem 4rem; /* Внутренние отступы */
  border: none; /* Убираем стандартную рамку */
  border-radius: 5px; /* Скругленные углы */
  font-size: 16px; /* Размер шрифта */
  cursor: pointer; /* Курсор при наведении */
  position: relative; /* Относительное позиционирование */
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}

.custom_button::before {
  content: '';
  position: absolute;
  top: -2px; /* Чтобы рамка была за пределами кнопки */
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 3px; /* Скругление углов, чтобы совпадало с кнопкой */
  background: linear-gradient(to right, #E93C9E, #24A3EC); /* Градиентная рамка */
  z-index: -1; /* Помещаем рамку под кнопку */
}