@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --black: #1B1B23;
  --grey: #27272F;
  --light_grey: #807F8C;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  background-color: var(--grey);
  box-shadow: 8px 0 10px var(--black);
}
nav a.logo{
  color: var(--white);
  font-size: 44px;
  margin-bottom: 30px;
}
nav a{
  margin-top: 30px;
  display: inline-block;
  color: var(--light_grey);
  transition: 0.3s;
}
a.active{
  color: var(--white);
}
nav a:hover{
  color: var(--white);
}
.content{
  padding-left: 270px;
  grid-area: content;
  display: flex;
  font-size: 56px;
  flex-direction: column;
}
.task{
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 10px;
  background-color: var(--grey);
}
.task h1{
  font-size: 24px;
}
.task .task__ico{
  margin-right: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  border-radius: 5px;
}
.task .task__content p{
  font-size: 12px;
  display: flex;
}
.acitve{
  opacity: 1;
}
.inactive{
  opacity: 0;
}